<section class="header center">
	<div class="container">
		<h1>Note Manager<span class="blinking-cursor">|</span></h1>
		<br />
		<%= link_to 'New Note', new_note_path, remote: true, class: 'waves-effect waves-light btn teal lighten-2' %>
		<%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'waves-effect waves-light btn teal lighten-2' %> 
	</div>
</section>

<% flash.each do |key, value| %>
	<div class="alert alert-<%=key %>"><%= value %></div>
<% end %> 

<div>
	<div id="note-form" style="display:none;"></div>
</div>

<section class="card-section container">
	<div class="row card-row">
		<div id="notes">
			<%= render :partial => 'note' %>
		</div>
	</div>
</section>


